@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  /*Dark Blue (Dark Mode Elements):*/
  --clr-primary--300: hsl(209, 23%, 22%);
  /*Very Dark Blue (Dark Mode Background)*/
  --clr-primary--500: hsl(207, 26%, 17%);
  /*Very Dark Blue (Light Mode Text)*/
  --clr-primary--700: hsl(200, 15%, 8%);
  /*White (Dark Mode Text & Light Mode Elements): */
  --clr-neutral--100: hsl(0, 0%, 100%);
  /*Very Light Gray (Light Mode Background):*/
  --clr-neutral--300: hsl(0, 0%, 98%);
  /*Dark Gray (Light Mode Input):*/
  --clr-neutral--500: hsl(0, 0%, 52%);
  --ff: 'Nunito Sans', sans-serif;
  --fs-homepage: 14px;
  --fs-detail: 16px;
  --br: 1.7em;
}

/*------ Global Settings------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}

/*--Styling Body, Background--*/

body {
  min-height: 100vh;
  align-items: center;
  font-family: var(--ff);
  background: var(--clr-primary--500);
  color: var(--clr-neutral--100);
}

.navbar {
  width: 100vw;
  padding: 0 5rem;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary--300);
}

figcaption {
  font-weight: 600;
}

.subnav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 1rem;
  height: 1rem;
  transform: rotate(-25deg);
}

.mode__control {
  display: flex;
  align-items: center;
}

.made__control--image {
  margin-right: 1rem;
}

.subnav {
  font-size: 14px;
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  margin: 3rem;
}

.search__container {
  position: relative;
  display: flex;
  min-width: 100px;
  width: 25rem;
}

.search__icon {
  position: absolute;
  top: 0.75rem;
  left: 1.2rem;
  color: var(--clr-neutral--100);
}


.search__input {
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: var(--clr-primary--300);
}

input {
  font-size: 0.7rem;
  padding: 1em 4.2em;
  width: 100%;
  border-radius: 0.2em;
  text-align: left;
  border: 3px solid var(--clr-primary--300);
  background: var(--clr-primary--300);
}

input::placeholder {
  color: var(--clr-neutral--300);

}

input:placeholder-shown {
  font-weight: 400;


}

input:not(:placeholder-shown) {
  color: white;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

input:focus {
  outline: none;
}